*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
body{
    background-color: white;
}
.nav-section-r{
    display: none;
}
.nav-section{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
}

.nav
{
    padding: 10px;
    overflow: hidden;
    
    display: flex;
    height: auto;
   
    justify-content: center;
   background-color: black;
}

.nav .choice{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 20px;    

}
.nav .choice:hover{
    transition: background-color 1s;
    color: black;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: wheat;
}




/* ----------------============================----------------------------- */
#img{
    padding-top: 40px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/check.jpg);
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;


}
.middle{
    position: -webkit-sticky;
    height: auto;
    padding-top: 20px;
    width: 100%;
    background-color: #00ccff;
    padding-bottom: 20px;   
}
.article{
  
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.circle{
    height: fit-content;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius:50%;
    margin-top: -60px;
    margin-left: -60px;
}

#art {
    outline: solid 5px transparent;
    transition: border 2s linear;
    background-color: #ccf5ff;
    width:400px;
    margin: 20px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    border-radius: 10px;
}
.date{
    color: black;
    font-family: fantasy;

}
#art:hover, .circle:hover{
    color: brown;
    transition: background-color 0.6s linear;
   background-color: violet;
}

.last-week{

    background-color: cyan;
}
.last-week .article{
    font-size: 0.9em;
}




/* -----------------------==============================-------------- */




/* the footer section is put here */
#footer{
    height: 200px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #d9f2f2;

}

#footer .top-side .equal{
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .top-side .equal .ft-mod{
    width: 25%;
}

#footer .top-side .equal .links ul{

    list-style: none;
}
#footer .top-side .equal .links ul li{
    margin-top: 15px;
}
#footer .top-side .equal .links ul li a{
 text-decoration: none; 
}
#footer .top-side .equal .location ul{
    list-style: none;
}
#footer .top-side .equal .location ul li{
    margin-top: 15px;
}

.location{
    padding-left: 70px;
}
#footer .bot-side{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 60px;
    color: white;
    background-color: #008080;
    width: 100%;
}

.bot-side{
    padding-top: 20px;
}
#bot-name{
    
    font-size: 20px;
}

















/* this is the responosive part that we will be working on */


@media screen and (max-width: 1038px)  and (min-width:880px){
  
    .last-week .article{
        display: block;

    }

    .last-week .article #art{
        margin: 0 auto;
        width: 60%;
    }






}
@media screen and (max-width:881px){
    .nav-section{
        display: none;
    } 
 #info .img {
     display: flex;
     justify-content: center;
     height: auto;
     width: auto;
     margin: 0 auto;
 }
 
 .nav-section{
     display: none;
 }
 
 .nav-section-r{
     display: block;
     width: 100%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     position: fixed;
 }
 
 .nav-r
 {
     padding: 10px;
     overflow: hidden;
     
     display: flex;
     height: auto;
    
     justify-content: center;
    background-color: black;
 }
 
 .nav-r .choice-r{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: white;
     border-radius: 5px;
     width: 40px;
     text-align: center;
     padding: 20px;    
 
 }
 .nav-r .choice-r:hover{
     transition: background-color 1s;
     color: black;
     /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
     background-color: wheat;
 }
    #img h1{
        color: white;
    }
    .article{
        display: block;
    }
    #art{
        width: 60%;
        margin: 0 auto;
    }
}