*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: white;
}
.nav-section-r{
    display: none;
}
.nav-section{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav
{
    padding: 10px;
    overflow: hidden;
    
    display: flex;
    height: auto;
   
    justify-content: center;
   background-color: black;
}

.nav .choice{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 20px;    

}
.nav .choice:hover{
    transition: background-color 1s;
    color: black;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: wheat;
}

/* the navigation section is this */




#navigation{
    margin-bottom: 100px;
    padding-top: 20px;
}

#navigation ul{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin-top: 40px;
}
#navigation ul li{
    list-style: none;
    display: inline-block;
}
#navigation ul li a{
    position: relative;
    display: block;
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 10px;
    text-decoration: none;
    border-top: 4px solid #0076d4;
}
#navigation ul li a span{
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    text-transform: uppercase;
    color: #206026;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 2px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
#navigation ul li a span:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffeb3b;
    color: #262626;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: .8s;
}
#navigation  ul li a:hover span:before{
    transform: rotateX(0deg);
}
#navigation ul li a span:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2196f3 ;
    color: white;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: 1.3s;
}
#navigation ul li a:hover span:after{
    transition-delay: .3s;
    transform: rotateX(0deg);
}




.row-1{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
    
}

/* for the border shadow we would have for them */


.bul-container,.UAE-container, .Bah-contain, .swit-contain, .can-container, .chile-container, .swed-container, 
.jp-container, .jam-container, .kwt-contain, .ice-container, .bots-container{
    
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*  the Ethiopian Flag */
.et-container{
    position: relative;
}
.star{
    background-image: url("../image/a.png");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 3.8em;
    left: 6.5em;
}
.green{
    width: 320px;
    height: 70px;
    background-color: green;
}
.yellow{
    width: 320px;
    height: 70px;
    background-color: yellow;
}
.red{
    width: 320px;
    height: 70px;
    background-color: red;
}

/* UAE flag */
.UAE-container>.left-contain{
    float: left;
}
.UAE-container>.right-contain{
    float: left;
}
.UAE-container>.left-contain>.uae-dark-gray{
    height: 210px;
    width: 80px;
    background-color: #B80020;
}
.UAE-container>.right-contain>.uae-green{
    width: 240px;
    height: 70px;
    background-color: green;

}
.UAE-container>.right-contain>.uae-white{
    width: 239px;
    height: 70px;
    background-color: white;
    border-right: 1px solid black;    


}
.UAE-container>.right-contain>.uae-black{
    width: 240px;
    height: 70px;
    background-color: black;

}
.UAE-container>.uae-clear{
    clear: both;
}

/* the flag of Bah */


.bah-black{
    border-top: 105px solid transparent;
    border-bottom: 105px solid transparent;
    border-left: 105px solid black;
    float: left;
    /* border: 70px solid black;
    background-color: black; */
}
.bah-yellow{
    width: 320px;
    height: 70px;
    background-color: #FEF200;
}

.bah-light-blue1{
    width: 320px;
    height: 70px;
    background-color:#01AEEF;
}


.bah-light-blue2{
    width: 320px;
    height: 70px;
    background-color:#01AEEF;
}
.bah-clear{
    clear: both;
}


/* the flag of switzerland */

.swit-contain{
    display: inline;
    /* s: 3px solid black; */
}

.swit-contain>.swit-left-contain{
    width: 70px;
    height: 210px;
    background-color: red;
    float: left;
}
.swit-contain>.swit-mid{
    width: auto;
    float: left;
    position: relative;
}
.swit-contain>.swit-mid>.swit-mid-top-contain{
    width: 180px;
    height: 80px;
    background-color: red;

}
.swit-contain>.swit-mid>.swit-mid-contain{
    width: 180px;
    height: 50px;
    background-color: white;
}

.swit-contain>.swit-mid>.swit-mid-bottom-contain{
    width: 180px;
    height: 80px;
    background-color: red;
}

.swit-contain>.swit-right-contain{
    width: 70px;
    height: 210px;
    background-color: red;
    float: left;
}

.swit-contain>.swit-mid>.swit-mid-top-contain>.t-cross-white{
    width: 70px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 55px;

}
.swit-contain>.swit-mid>.swit-mid-bottom-contain>.b-cross-white{
    width: 70px;
    height:50px;
    background-color: white;
    position: absolute;
    top: 130px;
    left: 55px;

}
.swit-clear{
    clear: both;
}



/*  the canadian flag */
.can-container{
    margin-left: 10px;
    display: inline-block;
    background-color: black;
}

.can-container>.can-lft{
    height: 210px;
    width: 86.6px;
    background-color: #EC1B24;
    float: left;
}
.can-container>.can-mid{
    height: 210px;
    width: 146.6px;
    background-color: #ffffff;
    float: left;
}
.can-container>.can-rght{
    height: 210px;
    width: 86.6px;
    background-color: #EC1B24;
    float: left;
}

.can-clear{
    clear: both;
}

/* the flag of chile */

.chile-container
{
    display: inline-block;
}

.chile-container>.chile-top-contain{
    width: 320px;
    height: 105px;
    background-color: white;
}

.chile-container>.chile-top-contain>.chile-blue{
    background-color: blue;
    height: 105px;
    width: 100px;
}

.chile-container>.chile-bottom{
    background-color: #ED1B24;
    height: 105px;
    width: 32opx;
}

/* the flag of sweeden */

.swed-container{
    background-color:#E8D018;
    height: 210px;
    width: 320px;
    display: inline-block;
    position: relative;

}

.swed-container>.swed-t-l{
     background-color: #3868A0;
     height: 90px;
     width: 90px;
}
.swed-container>.swed-t-r{
    background-color: #3868A0;
    height: 90px;
    width: 190px;
    position: absolute;
    top: 0;
    left: 130px;
}
.swed-container>.swed-b-l{
    background-color: #3868A0;
    height: 90px;
    width: 90px;
    margin-top: 30px;
}
.swed-container>.swed-b-r{
    background-color: #3868A0;
    height: 90px;
    width: 190px;
    position: absolute;
    top: 120px;
    left: 130px;
}

/* Flag of Japan */
.jp-container{
    width: 320px;
    height: 21-px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.jp-container>.jp-circle{
    background-color: red;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
/* the flag of Jamaica */
.jam-container
{
    position: relative;
    margin-left: 10px;
    height: 210px;
    width: 320px;
    border: 1px solid black;
    background-color: yellow;
}
.jam-container>.jam-lft{
    position: absolute;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 130px solid black;
    top: 5px;
}
.jam-container>.jam-tp{
    position: absolute;
    border-top: 100px solid green;
    border-right: 140px solid transparent;
    border-left: 140px solid transparent;
    left: 20px;
}
.jam-container>.jam-rt{
    position: absolute;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 130px solid black;
    left: 190px;
    top: 5px;
}
.jam-container>.jam-bt{
    position: absolute;
    border-bottom: 100px solid green;
    border-right: 140px solid transparent;
    border-left: 140px solid transparent;
    left: 20px;
    top: 111px;
}


/* the flag of of Kwait */
.kwt-contain{
    width: 320px;
    height: 210px;
}
.kwt-black{
    border-left: 100px solid black;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    height: 70px;
    float: left;
    /* border: 70px solid black;
    background-color: black; */
}
.kwt-yellow{
    width: 320px;
    height: 70px;
    background-color: white;
}

.kwt-light-blue1{
    width: 320px;
    height: 70px;
    background-color:green;
}


.kwt-light-blue2{
    width: 320px;
    height: 70px;
    background-color:red;
}
.kwt-clear{
    clear: both;
}

/* the flag of Iceland */

.ice-container{
    background-color:red;
    height: 210px;
    width: 320px;
    display: inline-block;
    position: relative;

}

.ice-container>.ice-t-l{
    border-right: 10px solid white;
    border-bottom: 10px solid white;
     background-color: blue;
     height: 80px;
     width: 80px;
}
.ice-container>.ice-t-r{
    border-left: 10px solid white;
    border-bottom: 10px solid white;
    background-color: blue;
    height: 80px;
    width: 180px;
    position: absolute;
    top: 0;
    left: 130px;
}
.ice-container>.ice-b-l{
    border-top: 10px solid white;
    border-right: 10px solid white;
    background-color: blue;
    height: 80px;
    width: 90px;
    margin-top: 30px;
}
.ice-container>.ice-b-r{
    border-left: 10px solid white;
    border-top: 10px solid white;
    background-color: blue;
    height: 80px;
    width: 180px;
    position: absolute;
    top: 120px;
    left: 130px;
}


/* the flag of botswana */
.bots-container{
    width: 320px;
    height: 210px;
    background-color: white;
    display: inline-block;
}

.bots-container>.bots-tp{
    background-color: #00BDF2;
    height: 83px;
    width: 320px;
}
.bots-container>.bots-mid{
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    background-color: black;
    height: 30px;
    width: 320px;
}
.bots-container>.bots-bot{
    background-color: #00BDF2;
    height: 83px;
    width: 320px;
}
/* star */

/* ---------------------------------------------------- */

/* the footer section is put here */
#footer{
    height: 200px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #d9f2f2;

}

#footer .top-side .equal{
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .top-side .equal .ft-mod{
    width: 25%;
}

#footer .top-side .equal .links ul{

    list-style: none;
}
#footer .top-side .equal .links ul li{
    margin-top: 15px;
}
#footer .top-side .equal .links ul li a{
 text-decoration: none; 
}
#footer .top-side .equal .location ul{
    list-style: none;
}
#footer .top-side .equal .location ul li{
    margin-top: 15px;
}

.location{
    padding-left: 70px;
}
#footer .bot-side{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 60px;
    color: white;
    background-color: #008080;
    width: 100%;
}

.bot-side{
    padding-top: 20px;
}
#bot-name{
    
    font-size: 20px;
}



@media screen and (max-width:994px){
    .row-1{
        
        display: block;
        
    }

    .nav-section{
        display: none;
    }
    
    .nav-section-r{
        display: block;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    }
    
    .nav-r
    {
        padding: 10px;
        overflow: hidden;
        
        display: flex;
        height: auto;
       
        justify-content: center;
       background-color: black;
    }
    
    .nav-r .choice-r{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
        border-radius: 5px;
        width: 40px;
        text-align: center;
        padding: 20px;    
    
    }
    .nav-r .choice-r:hover{
        transition: background-color 1s;
        color: black;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        background-color: wheat;
    }

}